In [0]:
result = int(input())
for _ in range(result):
    word = input()
    for i in range(1, len(word)):
        if word.find(word[i-1]) > word.find(word[i]):
            result -= 1
            break
print(result)

3
happy
new
year
3

In [0]:
# TR(P*Q) = TC(TFC + TVC) 되는 지점의 Q 구하기

# AC = MC = P
# TC = P*Q = TR

def _1712():
  TFC, AVC, P = map(int, input().split())
  # AC = TFC / Q  + AVC = P
  if AVC >= P:
    print('-1')

  AFC = P - AVC
  
  # 최초로 총 수입이 총 비용보다 많아져 이익이 발생하는 지점을 손익분기점(BREAK-EVEN POINT)
  Q = (TFC // AFC) + 1
  print(Q)

_1712()

TFC, AVC, P: 1000 70 170
11

In [0]:
def _1712():
    A, B, C = map(int, input().split(' '))

    if B >= C:
        print('-1')
        return

    print((A // (C-B)) + 1)

_1712()

In [0]:
'''
상근이는 요즘 설탕공장에서 설탕을 배달하고 있다. 상근이는 지금 사탕가게에 설탕을 정확하게 N킬로그램을 배달해야 한다. 설탕공장에서 만드는 설탕은 봉지에 담겨져 있다. 봉지는 3킬로그램 봉지와 5킬로그램 봉지가 있다.

상근이는 귀찮기 때문에, 최대한 적은 봉지를 들고 가려고 한다. 예를 들어, 18킬로그램 설탕을 배달해야 할 때, 3킬로그램 봉지 6개를 가져가도 되지만, 5킬로그램 3개와 3킬로그램 1개를 배달하면, 더 적은 개수의 봉지를 배달할 수 있다.

상근이가 설탕을 정확하게 N킬로그램 배달해야 할 때, 봉지 몇 개를 가져가면 되는지 그 수를 구하는 프로그램을 작성하시오
'''
# 틀림
# def baekjoon_2839():
#   N = int(input())
  
#   x = N // 5
#   if N % 5 != 0 and N % 3 != 0 and (N - 5) % 3 != 0 and (N - 3) % 5 != 0:
#     print('-1')
#   else:
#     li = []
#     for i in range(x + 1):
#       y = (N - 5 * i) // 3
#       print(i, y)
#       res = i + y
#       li.append(res)
#     print(min(li))

# baekjoon_2839()

21
0 7
1 5
2 3
3 2
4 0
4

In [0]:
inp = int(input())
Box = 0
while True:
    if (inp % 5) == 0:
        Box = Box + (inp//5)
        print(Box)
        break
    inp = inp-3
    Box += 1
    if inp < 0:
        print("-1")
        break

4
-1

In [0]:
def _2292():
  getbee = int(input())
  roomNum = 1
  value = 1
  n = 0

  for i in range(getbee):
    n = n + 1
    value = 6 * n + 1
    roomNum = roomNum + 1
    if value >= getbee:
      print(roomNum - 1)
      break

_2292()

9
2

In [0]:
N = int(input())

for i in range(1, N + 1):
  print(1 + (i * (i - 1) / 2), (i * (i + 1)) / 2)

6
1.0 1.0
2.0 3.0
4.0 6.0
7.0 10.0
11.0 15.0
16.0 21.0

In [0]:
for i in range(5):
  print(' ' * (5 - i) + (2 * i + 1) * '*')

     *
    ***
   *****
  *******
 *********

In [0]:
N = int(input())
for i in range(N):
  left_space = ' ' * (N - i)
  middle_space = ' ' * (2 * i - 1)
  top = i + 1
  left_wing = (2 * i) % 10
  right_wing = (2 * i + 1) % 10
  if i == 0:
    print('{0}{1}'.format(left_space, top))
  elif i == N - 1:
    last = ''
    for j in range(left_wing, 2 * left_wing + 1):
      last = last + str(j % 10)
    print(left_space + last)
  else:
    print('{0}{1}{2}{3}'.format(left_space, left_wing, middle_space, right_wing))

5
     1
    2 3
   4   5
  6     7
 890123456

In [0]:
b = ''
for i in range(10):
  b = b + str(i)
print(b)

0123456789

In [0]:
A = []
B = []
n = 0

inp = int(input())

while inp > 0:
  n = n + 1
  inp = inp - n
  
  for i in range(1, n + 1):
    a = i
    A.append(a)
  for i in range(n, 0, -1):
    b = i
    B.append(b)

if inp % 2 == 0:
  ans = str(A[inp - 1]) + '/' + str(B[inp - 1])
  print(ans)
else:
  ans = str(B[inp - 1]) + '/' + str(A[inp - 1])
  print(ans)

14
2/4

In [0]:
inp = int(input())
i = 0
while inp > 0:
    inp = inp - i
    i = i + 1
    
inp = i + inp - 1
res = str(inp) + '/' + str(i - inp)

if i % 2 == 0:
    res = str(i - inp) + '/' + str(inp)

print(res)

14
inp 14
i 1
inp 13
i 2
inp 11
i 3
inp 8
i 4
inp 4
i 5
inp -1
i 6
inp 4
i 6
inp 4
i - inp 2
i 6
inp 4
i - inp 2
2/4

In [0]:
day, night, height = map(int, input().split())


take = 0
cnt = 0
while height !=  0:
  cnt = cnt + 1
  height = height - day
  if height == 0:
    break
  height = height + night

print(cnt)

2 1 5
4

In [0]:
day, night, height = map(int, input().split())
 
print((height - day) // (day - night) + 1 if (height - day) % (day - night) == 0 else (height - day) // (day - night) + 2)

2 1 5
4

In [0]:
testdata = int(input())

for i in range(testdata):
  floor, room, guest_N = map(int, input().split())

  n =  []
  for i in range(1, room + 1):
    for j in range(1, floor + 1):
      if i // 10 == 0:
        b = str(j) + '0' + str(i)
        n.append(b)
      else:
        b = str(j) + str(i)
        n.append(b)
  print(n[guest_N - 1])

2
6 12 10
402
30 50 72
1203

In [0]:
for _ in range(int(input())):
    H, W, N = map(int, input().split())
    a = N % H; b = N // H + 1
    if a == 0 : a = H; b -= 1
    print(a * 100 + b)


# 출처: https://leedakyeong.tistory.com/entry/백준-10250번-ACM-호텔-in-python [슈퍼짱짱]

In [0]:
# a층의 b호에 살려면 자신의 아래(a-1)층의 1호부터 b호까지 사람들의 수의 합만큼 사람들을 데려와 살아야 한다

# k층에 n호에는 몇 명이 살고 있는지 출력

# 단, 아파트에는 0층부터 있고 각층에는 1호부터 있으며, 0층의 i호에는 i명이 산다.

#i+1#1 2 3 4
#    0 1 2 3
# 1 /1
# 2 /2 3 4 5
# 3 /3 6 10 15
# 4 /4 10 20 35
# 5 /5 15 25 50



for _ in range(int(input())):
    k = int(input()); n = int(input())
    v = [i for i in range(1, n + 1)]
    for _ in range(k):
        for j in range(1, n):
            v[j] += v[j - 1]
    print(v[n - 1])


# 출처: https://leedakyeong.tistory.com/entry/백준-2775번-부녀회장이-될테야-in-python-파이썬 [슈퍼짱짱]

2
1
3
[1, 2, 3]
[1, 3, 6]
6
2
3
[1, 2, 3]
[1, 4, 10]
10

In [0]:
# 피보나치
# 1 1 2 3 5 8 13 21 ...

def _1003():
  ans = 0
  li = []

  inp = int(input())

  ans0 = 0
  ans1 = 1
  ans2 = 1

  if inp == 0:
    ans1 = ans1
    ans2 = ans0

  elif inp == 1:
    ans1 = ans0
    ans2 = ans1

  elif inp == 2:
    ans1 = ans1
    ans2 = ans1

  elif inp >= 3:
    li = [0, 1, 1]
    for _ in range(inp - 2):
      ans = ans1 + ans2
      ans1 = ans2
      ans2 = ans
      li.append(ans)
  
  print('{0} {1}'.format(ans1, ans2))

for _ in range(int(input())):
  _1003()

1
0
1 0

In [0]:
case = int(input())

def fibonacci(i):
    if i == 0:
        print(1, 0)
    elif i == 1:
        print(0, 1)
    elif i == 2:
        print(1, 1)
    else: 
        temp = 0
        current = 1
        before = 0
        for j in range(i - 1):
            temp = current
            current = before + temp 
            before = temp
        
        print(before, current)

for _ in range(case):
    num = int(input())
    fibonacci(num)

1
5
3 5

In [0]:
# 피보나치
# 1 1 2 3 5 8 13 21 ...

def _1003():
    ans = 0
    inp = int(input())
    ans0 = 0
    ans1 = 1
    ans2 = 1
    
    if inp == 0:
        ans1 = 1
        ans2 = 0
    elif inp == 1:
        ans1 = 0
        ans2 = 1
    elif inp == 2:
        ans1 = 1
        ans2 = 1
    elif inp >= 3:
        for _ in range(inp - 2):
            ans = ans1 + ans2
            ans1 = ans2
            ans2 = ans
    print('{0} {1}'.format(ans1, ans2))

for _ in range(int(input())):
    _1003()

1
5
3 5

In [0]:
def _1009():
  for _ in range(int(input())):
    a, b = map(int, input().split())
    last = a ** b % 10
    print(last)

_1009()

5
1 6
1
3 7
7
6 2
6
7 100
1
9 635
9

In [0]:
def solution():
    result = []
    A, B = map(int, input().split(' '))
    C = 1
    for i in range(0, B):
        C = C * A
        C = C % 10
        if C in result:
            break
        result.append(C)

    C = result[B % len(result)-1]

    if C == 0:
        print(10)
    else :
        print(C)
T = int(input())

for i in range(T):
    solution()


T = int(input())

for _ in range(T):
    a, b = map(int, input().split())
    a = a % 10
    
    if a == 0:
        print(10)
    elif a == 1 or a == 5 or a == 6:
        print(a)
    elif a == 4 or a == 9:
        b = b % 2
        if b == 1:
            print(a)
        else:
            print((a * a) % 10)
    else:
        b = b % 4
        if b == 0:
            print((a**4) % 10 % 10 % 10)
        else:
            print((a**b) % 10 % 10 % 10)

In [0]:
# 틀림

def _1010():
  for _ in range(int(input())):
    a, b = map(int, input().split())
    
    if a == b:
      print(1)
    else:
      print(a * b)

_1010()

3
2 2
1
1 5
5
13 29
377

In [0]:
#1010

def mCn():
  T = int(input())
  for _ in range(T):
    m, n = map(int, input().split())
    answer = 1
    k = n - m
    
    while n > k:
        answer *= n
        n -= 1
    while m > 1:
        answer = answer // m
        m -= 1
    
    print(answer)

mCn()

In [0]:
#1018 - 어려움

N, M = map(int, input().split())

w = 1
b = -1
start_w = []
start_b = []

for m in range(M):
  if m % 2 == 0:
    start_w.append(w)
    start_b.append(b)
  if m % 2 != 0:
    start_w.append(b)
    start_b.append(w)

map_w = []
map_b = []
for n in range(N):
  if n % 2 == 0:
    map_w.append(start_w)
    map_b.append(start_b)
  if n % 2 != 0:
    map_w.append(start_b)
    map_b.append(start_w)

map_e = []
for i in range(M):
  inp = input().replace('W', '1 ').replace('B', '0 ').split()
  k = []
  for j in inp:
    k.append(int(j))
    map_e.append(k)
  if map_e[0][0] == 1:
    map_t = map_e[i] + map_w[i]
    for j in map_t:
      if 'o' in str(j):
        cnt = cnt + 1

  if map_e[0][0] == 0:
    map_t = map_e[i] + map_b[i]
    for j in map_t:
      if '0' in str(j):
        cnt = cnt + 1

print(cnt)

8 8
WBWBWBWB
BWBWBWBW
WBWBWBWB
BWBBBWBW
WBWBWBWB
BWBWBWBW
WBWBWBWB
BWBWBWBW
0

In [0]:
y_axis, x_axis = map(int, input().split())

board = []
for _ in range(y_axis):
    board.append(list(map(str, list(input()))))
    
num_replaced_by_line_BW = [[0 for _ in range(x_axis)] for _ in range(y_axis)]
num_replaced_by_line_WB = [[0 for _ in range(x_axis)] for _ in range(y_axis)]

#BW테스트
for i in range(x_axis):
    for j in range(y_axis):
        if (i + j) % 2 == 0:
            if board[j][i] == 'B':
                pass
            else:
                num_replaced_by_line_BW[j][i] += 1
        else:
            if board[j][i] == 'W':
                pass
            else:
                num_replaced_by_line_BW[j][i] += 1

#WB테스트 
for i in range(x_axis):
    for j in range(y_axis):
        if (i + j) % 2 == 0:
            if board[j][i] == 'W':
                pass
            else:
                num_replaced_by_line_WB[j][i] += 1
        else:
            if board[j][i] == 'B':
                pass
            else:
                num_replaced_by_line_WB[j][i] += 1

#8x8 행렬 중 최소 값을 찾아내는 과정

min_num = 64

#BW판 최소값
for i in range(7, x_axis) :
    for j in range(7, y_axis):
        sum_num = 0
        for p in range(8):
            for q in range(8):
                if num_replaced_by_line_BW[j-q][i-p]:
                    sum_num += 1
        if sum_num <= min_num:
            min_num = sum_num

#WB판 최소값
for i in range(7, x_axis) :
    for j in range(7, y_axis):
        sum_num = 0
        for p in range(8):
            for q in range(8):
                if num_replaced_by_line_WB[j-q][i-p]:
                    sum_num += 1
        if sum_num <= min_num:
            min_num = sum_num
            
print(int(min_num))

In [0]:
# li = []
# inp = int(input())
# for i in range(inp):
#   num = int(input())
#   li.append(num)

# li.sort()
# for i in range(inp):
#   print(li[i])


N = int(input())

li = []
for i in range(N):
  li.append(int(input()))
li = sorted(li)
for i in range(N):
  print(li[i])

5
5
4
3
2
1
1
2
3
4
5

In [0]:
# 1463

'''
정수 X에 사용할 수 있는 연산은 다음과 같이 세 가지 이다.

X가 3으로 나누어 떨어지면, 3으로 나눈다.
X가 2로 나누어 떨어지면, 2로 나눈다.
1을 뺀다.
정수 N이 주어졌을 때, 위와 같은 연산 세 개를 적절히 사용해서 1을 만들려고 한다. 연산을 사용하는 횟수의 최솟값을 출력하시오.

입력
첫째 줄에 1보다 크거나 같고, 106보다 작거나 같은 정수 N이 주어진다.

출력
첫째 줄에 연산을 하는 횟수의 최솟값을 출력한다.
'''

N = int(input())

cnt = 0
while N != 1:
  if N % 3 == 0:
    N = N / 3
  elif N % 2 ==0:
    N = N / 2
  else:
    N = N - 1
  cnt = cnt + 1
print(cnt)

5
3

In [0]:
N = int(input())

result = [0 for _ in range(N + 1)]

for i in range(1, N + 1):
    if i == 1:
        result[i] = 0
        continue
    result[i] = result[i-1] + 1
    if i % 3 == 0 and result[i//3] + 1 < result[i]:
        result[i] = result[i//3] + 1
    if i % 2 == 0 and result[i//2] + 1< result[i]:
        result[i] = result[i//2] + 1
        
print(result[N])

In [0]:
#1920 - 시간초과

num1 = input()
inp = input().split()

num2 = input()
com = input().split()

for i in com:
  print(1 if i in inp else 0)

5
4 1 2 5 3
5
1 3 5 9 7
1
1
1
0
0

In [0]:
def _1920():
    N = int(input())
    arrN = list(map(int, input().split(' ')))
    M = int(input())
    arrM = list(map(int, input().split(' ')))

    arrN.sort()

    for i in range(M):
        flag = 0

        left = 0
        right = len(arrN)

        while left < right:
            mid = (left + right) // 2

            if left == mid and arrM[i] != arrN[mid]:
                break

            if arrM[i] > arrN[mid]:
                left = mid
            elif arrM[i] < arrN[mid]:
                right = mid
            elif arrM[i] == arrN[mid]:
                flag = 1
                print(1)
                break


        if flag == 0:
            print(0)
_1920()

4 2
1
1
2
2
2
3
3
3
4
4
4
5