In [0]:
num = int(input())
for i in range(2 * num):
  if num == 1:
    print('*')
  elif i % 2 == 0:
    print('*')
  else:
    print(' *')

In [0]:
N = int(input())

if N == 1:
    print('*')
    
else:
    if N % 2 == 0:
        a = '* ' * (N//2)
        b = ' *' * (N//2)
    else:
        a = '* ' * (N//2) + '*'
        b = ' *' * (N//2)
    
    for _ in range(N):
        print(a)
        print(b)

11
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *
* * * * * *
 * * * * *

In [0]:
# N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

# 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다.
# 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다.
# 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

# 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

num = int(input())
inp = input().split()

li = []
for i in inp:
  i = int(i)
  li.append(i)

li.sort()
print(li[0], li[-1])

5
20 10 35 30 7
7 35

In [0]:
'''
9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

첫 째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.


3
29
38
12
57
74
40
85
61

85
8
'''

max_num = 0

for i in range(1, 10):
  num = int(input())
  if max_num < num:
    max_num = num
    flag = i

print(max_num)
print(flag)

3
29
38
12
57
74
40
85
61
85
8

In [0]:
# 세 개의 자연수 A, B, C가 주어질 때 A×B×C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

# 예를 들어 A = 150, B = 266, C = 427 이라면 

# A × B × C = 150 × 266 × 427 = 17037300 이 되고, 

# 계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.



# 첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 같거나 크고, 1,000보다 작은 자연수이다.

# 첫째 줄에는 A×B×C의 결과에 0 이 몇 번 쓰였는지 출력한다. 
# 마찬가지로 둘째 줄부터 열 번째 줄까지 A×B×C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

a = int(input())
b = int(input())
c = int(input())

mul = list(str(a * b * c))
for i in range(10):
    num_count = mul.count(str(i))
    print(num_count)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [0]:
'''
두 자연수 A와 B가 있을 때, A%B는 A를 B로 나눈 나머지 이다. 예를 들어, 7, 14, 27, 38을 3으로 나눈 나머지는 1, 2, 0, 2이다. 

수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

첫째 줄부터 열번째 줄 까지 숫자가 한 줄에 하나씩 주어진다. 이 숫자는 1,000보다 작거나 같고, 음이 아닌 정수이다.

첫째 줄에, 42로 나누었을 때, 서로 다른 나머지가 몇 개 있는지 출력한다.

39
40
41
42
43
44
82
83
84
85
'''
li = []
for i in range(10):
  num = int(input()) % 42
  if num not in li:
    li.append(num)

print(len(li))

39
40
41
42
43
44
82
83
84
85
6

In [0]:
'''
세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

입력
첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

출력
첫째 줄에 새로운 평균을 출력한다. 실제 정답과 출력값의 절대오차 또는 상대오차가 10-2 이하이면 정답이다.
3
40 80 60
'''

N = int(input())
inp = input().split()

li = []
for i in inp:
  i = int(i)
  li.append(i)

M = max(li)

def mnm(x):
  y = x / M * 100

  return y

score = []
for i in li:
  j = mnm(i)
  score.append(j)

k = 0
for i in score:
  k = k + i

print(k / N)

4
1 100 100 100
75.25

In [0]:
'''
문제
"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다.
문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

입력
첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

출력
각 테스트 케이스마다 점수를 출력한다.

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX

10
9
7
55
30
'''
# 'O' = 1
# '00' = 2
# '000' = 3
# 'X' = 0

n = int(input())
for i in range(n):
    Num = input()
    score = 0
    cnt = 0
    for j in range(len(Num)):
        if Num[j] == 'O':
            cnt += 1
            score += cnt
        elif Num[j] == 'X':
            score += 0
            cnt = 0
    print(score)

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
[['OO', '', 'O', '', 'OOO'], ['OO', '', 'OO', '', 'OO'], ['O', 'O', 'O', 'O', 'O', 'O', 'O', ''], ['OOOOOOOOOO'], ['OOOO', 'OOOO', 'OOOO', '']]

In [0]:
'''
문제
대학생 새내기들의 90%는 자신이 반에서 평균은 넘는다고 생각한다. 당신은 그들에게 슬픈 진실을 알려줘야 한다.

입력
첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다.
점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

출력
각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.


5
5 50 50 70 80 100
7 100 95 90 80 70 60 50
3 70 90 80
3 70 90 81
9 100 99 98 97 96 95 94 93 91

40.000%
57.143%
33.333%
66.667%
55.556%
'''
C = int(input())
for i in range(C):
  case = []
  inp = input().split()
  for j in inp:
    k = int(j)
    case.append(k)
  num = case[0]
  score = case[1:]
  m = sum(score) / num

  count = 0
  for i in score:
    if i > m:
      count = count + 1
    prc = round(count / num * 100, 3)
  print(prc)

1
9 100 99 98 97 96 95 94 93 91
55.556

In [0]:
num = int(input())
avg = []
for i in range(num):
        sco = list(map(int,input().split()))
        stu = sco[0]
        del sco[0]
        sum = 0
        cnt = 0
        
        for j in sco:
                sum += j
        avg.append(sum/stu)
 
        for j in sco:
                if j > avg[i]:
                        cnt = cnt+1
        avg[i] = cnt/stu*100
        
for i in range(len(avg)):
        print("%.3f%%" %round(avg[i], 3))

In [0]:
# 정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

def solve():
  x = 0
  a = list(map(int, input().split()))
  for i in a:
    x = x + i
  return x

solve()

1 2 3 4 5

15

In [0]:
'''
셀프 넘버는 1949년 인도 수학자 D.R. Kaprekar가 이름 붙였다. 양의 정수 n에 대해서 d(n)을 n과 n의 각 자리수를 더하는 함수라고 정의하자. 예를 들어, d(75) = 75+7+5 = 87이다.

양의 정수 n이 주어졌을 때, 이 수를 시작해서 n, d(n), d(d(n)), d(d(d(n))), ...과 같은 무한 수열을 만들 수 있다. 

예를 들어, 33으로 시작한다면 다음 수는 33 + 3 + 3 = 39이고, 그 다음 수는 39 + 3 + 9 = 51, 다음 수는 51 + 5 + 1 = 57이다. 이런식으로 다음과 같은 수열을 만들 수 있다.

33, 39, 51, 57, 69, 84, 96, 111, 114, 120, 123, 129, 141, ...

n을 d(n)의 생성자라고 한다. 위의 수열에서 33은 39의 생성자이고, 39는 51의 생성자, 51은 57의 생성자이다. 생성자가 한 개보다 많은 경우도 있다. 예를 들어, 101은 생성자가 2개(91과 100) 있다. 

생성자가 없는 숫자를 셀프 넘버라고 한다. 100보다 작은 셀프 넘버는 총 13개가 있다. 1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97

10000보다 작거나 같은 셀프 넘버를 한 줄에 하나씩 출력하는 프로그램을 작성하시오.
'''
natural_number_set = set(range(1, 10001))
generated_number_set= set()

for i in range(1, 10001):
    for j in str(i):
        i += int(j)
    generated_number_set.add(i)

self_number_set = natural_number_set - generated_number_set

for i in sorted(self_number_set):
    print(i)



natural_number_set = set(range(1, 1001))
generated_number_set = set()

for i in range(1, 1001):
    print('currnet i = ' + str(i))
    for j in str(i):
        print('currnet j = ' + str(j))
        i += int(j)
    print('**managed num = ' + str(i))
    generated_number_set.add(i)
    print()

print(generated_number_set)
print(natural_number_set)

self_numbers_set = natural_number_set - generated_number_set
print(sorted(self_numbers_set))

currnet i = 1
currnet j = 1
**managed num = 2

currnet i = 2
currnet j = 2
**managed num = 4

currnet i = 3
currnet j = 3
**managed num = 6

currnet i = 4
currnet j = 4
**managed num = 8

currnet i = 5
currnet j = 5
**managed num = 10

currnet i = 6
currnet j = 6
**managed num = 12

currnet i = 7
currnet j = 7
**managed num = 14

currnet i = 8
currnet j = 8
**managed num = 16

currnet i = 9
currnet j = 9
**managed num = 18

currnet i = 10
currnet j = 1
currnet j = 0
**managed num = 11

currnet i = 11
currnet j = 1
currnet j = 1
**managed num = 13

currnet i = 12
currnet j = 1
currnet j = 2
**managed num = 15

currnet i = 13
currnet j = 1
currnet j = 3
**managed num = 17

currnet i = 14
currnet j = 1
currnet j = 4
**managed num = 19

currnet i = 15
currnet j = 1
currnet j = 5
**managed num = 21

currnet i = 16
currnet j = 1
currnet j = 6
**managed num = 23

currnet i = 17
currnet j = 1
currnet j = 7
**managed num = 25

currnet i = 18
currnet j = 1
currnet j = 8
**managed num = 27

currnet i = 19
currnet j = 1
currnet j = 9
**managed num = 29

currnet i = 20
currnet j = 2
currnet j = 0
**managed num = 22

currnet i = 21
currnet j = 2
currnet j = 1
**managed num = 24

currnet i = 22
currnet j = 2
currnet j = 2
**managed num = 26

currnet i = 23
currnet j = 2
currnet j = 3
**managed num = 28

currnet i = 24
currnet j = 2
currnet j = 4
**managed num = 30

currnet i = 25
currnet j = 2
currnet j = 5
**managed num = 32

currnet i = 26
currnet j = 2
currnet j = 6
**managed num = 34

currnet i = 27
currnet j = 2
currnet j = 7
**managed num = 36

currnet i = 28
currnet j = 2
currnet j = 8
**managed num = 38

currnet i = 29
currnet j = 2
currnet j = 9
**managed num = 40

currnet i = 30
currnet j = 3
currnet j = 0
**managed num = 33

currnet i = 31
currnet j = 3
currnet j = 1
**managed num = 35

currnet i = 32
currnet j = 3
currnet j = 2
**managed num = 37

currnet i = 33
currnet j = 3
currnet j = 3
**managed num = 39

currnet i = 34
currnet j = 3
currnet j = 4
**managed num = 41

currnet i = 35
currnet j = 3
currnet j = 5
**managed num = 43

currnet i = 36
currnet j = 3
currnet j = 6
**managed num = 45

currnet i = 37
currnet j = 3
currnet j = 7
**managed num = 47

currnet i = 38
currnet j = 3
currnet j = 8
**managed num = 49

currnet i = 39
currnet j = 3
currnet j = 9
**managed num = 51

currnet i = 40
currnet j = 4
currnet j = 0
**managed num = 44

currnet i = 41
currnet j = 4
currnet j = 1
**managed num = 46

currnet i = 42
currnet j = 4
currnet j = 2
**managed num = 48

currnet i = 43
currnet j = 4
currnet j = 3
**managed num = 50

currnet i = 44
currnet j = 4
currnet j = 4
**managed num = 52

currnet i = 45
currnet j = 4
currnet j = 5
**managed num = 54

currnet i = 46
currnet j = 4
currnet j = 6
**managed num = 56

currnet i = 47
currnet j = 4
currnet j = 7
**managed num = 58

currnet i = 48
currnet j = 4
currnet j = 8
**managed num = 60

currnet i = 49
currnet j = 4
currnet j = 9
**managed num = 62

currnet i = 50
currnet j = 5
currnet j = 0
**managed num = 55

currnet i = 51
currnet j = 5
currnet j = 1
**managed num = 57

currnet i = 52
currnet j = 5
currnet j = 2
**managed num = 59

currnet i = 53
currnet j = 5
currnet j = 3
**managed num = 61

currnet i = 54
currnet j = 5
currnet j = 4
**managed num = 63

currnet i = 55
currnet j = 5
currnet j = 5
**managed num = 65

currnet i = 56
currnet j = 5
currnet j = 6
**managed num = 67

currnet i = 57
currnet j = 5
currnet j = 7
**managed num = 69

currnet i = 58
currnet j = 5
currnet j = 8
**managed num = 71

currnet i = 59
currnet j = 5
currnet j = 9
**managed num = 73

currnet i = 60
currnet j = 6
currnet j = 0
**managed num = 66

currnet i = 61
currnet j = 6
currnet j = 1
**managed num = 68

currnet i = 62
currnet j = 6
currnet j = 2
**managed num = 70

currnet i = 63
currnet j = 6
currnet j = 3
**managed num = 72

currnet i = 64
currnet j = 6
currnet j = 4
**managed num = 74

currnet i = 65
currnet j = 6
currnet j = 5
**managed num = 76

currnet i = 66
currnet j = 6
currnet j = 6
**managed num = 78

currnet i = 67
currnet j = 6
currnet j = 7
**managed num = 80

currnet i = 68
currnet j = 6
currnet j = 8
**managed num = 82

currnet i = 69
currnet j = 6
currnet j = 9
**managed num = 84

currnet i = 70
currnet j = 7
currnet j = 0
**managed num = 77

currnet i = 71
currnet j = 7
currnet j = 1
**managed num = 79

currnet i = 72
currnet j = 7
currnet j = 2
**managed num = 81

currnet i = 73
currnet j = 7
currnet j = 3
**managed num = 83

currnet i = 74
currnet j = 7
currnet j = 4
**managed num = 85

currnet i = 75
currnet j = 7
currnet j = 5
**managed num = 87

currnet i = 76
currnet j = 7
currnet j = 6
**managed num = 89

currnet i = 77
currnet j = 7
currnet j = 7
**managed num = 91

currnet i = 78
currnet j = 7
currnet j = 8
**managed num = 93

currnet i = 79
currnet j = 7
currnet j = 9
**managed num = 95

currnet i = 80
currnet j = 8
currnet j = 0
**managed num = 88

currnet i = 81
currnet j = 8
currnet j = 1
**managed num = 90

currnet i = 82
currnet j = 8
currnet j = 2
**managed num = 92

currnet i = 83
currnet j = 8
currnet j = 3
**managed num = 94

currnet i = 84
currnet j = 8
currnet j = 4
**managed num = 96

currnet i = 85
currnet j = 8
currnet j = 5
**managed num = 98

currnet i = 86
currnet j = 8
currnet j = 6
**managed num = 100

currnet i = 87
currnet j = 8
currnet j = 7
**managed num = 102

currnet i = 88
currnet j = 8
currnet j = 8
**managed num = 104

currnet i = 89
currnet j = 8
currnet j = 9
**managed num = 106

currnet i = 90
currnet j = 9
currnet j = 0
**managed num = 99

currnet i = 91
currnet j = 9
currnet j = 1
**managed num = 101

currnet i = 92
currnet j = 9
currnet j = 2
**managed num = 103

currnet i = 93
currnet j = 9
currnet j = 3
**managed num = 105

currnet i = 94
currnet j = 9
currnet j = 4
**managed num = 107

currnet i = 95
currnet j = 9
currnet j = 5
**managed num = 109

currnet i = 96
currnet j = 9
currnet j = 6
**managed num = 111

currnet i = 97
currnet j = 9
currnet j = 7
**managed num = 113

currnet i = 98
currnet j = 9
currnet j = 8
**managed num = 115

currnet i = 99
currnet j = 9
currnet j = 9
**managed num = 117

currnet i = 100
currnet j = 1
currnet j = 0
currnet j = 0
**managed num = 101

{2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 109, 111, 113, 115, 117}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
[1, 3, 5, 7, 9, 20, 31, 42, 53, 64, 75, 86, 97]

In [0]:
'''
문제
어떤 양의 정수 X의 각 자리가 등차수열을 이룬다면, 그 수를 한수라고 한다. 등차수열은 연속된 두 개의 수의 차이가 일정한 수열을 말한다.
N이 주어졌을 때, 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력하는 프로그램을 작성하시오. 

입력
첫째 줄에 1,000보다 작거나 같은 자연수 N이 주어진다.

출력
첫째 줄에 1보다 크거나 같고, N보다 작거나 같은 한수의 개수를 출력한다.
'''
def Han(n):
        cnt = 0
        if (n < 100):
                return n
        else:
                for i in range(100,(n+1)):
                        hund = (i//100)
                        ten = ((i%100)//10)
                        one = ((i%100)%10)
 
                        if ((hund - ten) == (ten - one)):
                                cnt += 1
                return (99+cnt)
 
inp = int(input())
res = Han(inp)
print(res)

123
101

In [0]:
'''
문제
알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

입력
알파벳 소문자, 대문자, 숫자 0-9 중 하나가 첫째 줄에 주어진다.

출력
입력으로 주어진 글자의 아스키 코드 값을 출력한다.

A 65
C 67
Z 90

0 48
9 57

a 97
z 122

'''
def asc():
  number = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
  A_Z = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
  a_z = []
  for i in A_Z:
    a_z.append(i.lower())
  inp = input()
  if inp in number:
    print(number.index(inp) + 48)
  elif inp in A_Z:
    print(A_Z.index(inp) + 65)
  elif inp in a_z:
    print(a_z.index(inp) + 97)

asc()

9
57

In [0]:
length = int(input())

num = input()
ans = 0
for i in num:
  ans = ans + int(i)

print(ans)

5
54321
15

In [0]:
inp = input()

a_z = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

ans = ''
for i in range(len(a_z)):
  res = inp.lower().find(a_z[i])
  ans = ans + str(res) + ' '

print(ans)

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [0]:
N = int(input())
for i in range(N):
  sent = list(input().split())
  num = int(sent[0])
  word = sent[1]
  ans = ''
  for j in word:
    ans = ans + j * num
  print(ans)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [0]:
inp = input().upper()
d = {}
for i in inp:
  d[i] = inp.count(i)

key = list(d.keys())
val = list(d.values())


m = max(val)

ind = val.index(m)


cnt = di.count(m)
if cnt >= 2:
  print('?')
else:
  print(key[ind])


words = input().upper()
words_list = list(set(words))
word_count = list()

for i in words_list:
    count = words.count(i)
    word_count.append(count)

if(word_count.count(max(word_count)) >= 2):
    print('?')
else:
    print(words_list[(word_count.index(max(word_count)))])

baaa
A

In [0]:
words = input().split()
cnt = len(words)
print(cnt)

The Curious Case of Benjamin Button
6

In [0]:
a, b = input().split()

c = ''
d = ''

for i in range(2, -1, -1):
  c = c + a[i]
  d = d + b[i]

print(max(c, d))

734 893
437

In [0]:
# 첫째 줄에 알파벳 대문자로 이루어진 단어가 주어진다. 단어는 2글자~15글자로 이루어져 있다.
# 첫째 줄에 다이얼을 걸기 위해서 필요한 시간을 출력한다.

# UNUCIC 868242

num = ['0', '1', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

inp = input().upper().replace('', ' ').split()

li = []
for i in num:
  for j in inp:
    if i.find(j) != -1:
      ind = num.index(i) + 1
      li.append(ind)
print(sum(li))

UNUCIC
36

In [0]:
alph = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=','e', 'a', 'k']

inp = input()

li = []
for i in alph:
  if i == 'dz=':
    a = inp.count(i)
    li.append(a)
    inp = inp.replace('dz=', ' ')

  a = inp.count(i)
  li.append(a)
  if a >= 1:
    left = inp.replace(i, ' ').split()
    print(i)
    length = len(left)
if left[0] == inp:
  length = 0

print(left)
print(li)
print(sum(li) + length)

ljes=njak
lj
nj
s=
e
a
k
['ljes=nja']
[0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1]
7

In [0]:
words = input()
cro_word_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']

for cro in cro_word_list:
    words = words.replace(cro, '.')
print(len(words))

ddz=z=
3

In [0]:
N = int(input())

cnt = 0
for i in range(N):
  words = input()
for i in len(words):
  if words[i] == words[i+1]:
    cnt = 0
  else:
    cnt = cnt + 1
print(cnt)

3
happy
new
year
4

In [0]:
word = 'happy'
# for j in word:
#   print(word.count('{0}{1}'.format(j, j)))
print(word.count('pp'))

1