In [0]:
"""
\    /\
 )  ( ')
(  /  )
 \(__)|
"""

In [6]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

In [0]:
"""
|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|
"""

In [7]:
print("|\\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [0]:
1 2

In [20]:
string = input()

1 2

In [0]:
li = string.split(' ')

In [22]:
print(li)

['1', '2']

In [26]:
lis = []
for i in li:
  i = int(i)
  lis.append(i)

print(lis[0] + lis[1])

3

In [27]:
string = input()

3 2

In [29]:
li = string.split(' ')
# print(li)

['3', '2']

In [30]:
lis = []
for i in li:
  i = int(i)
  lis.append(i)

print(lis[0] - lis[1])

1

In [0]:
1 2
3 4

In [43]:
def mul():
  string = input()
  li = string.split(' ')
  lis = []
  for i in li:
    i = int(i)
    lis.append(i)

  print(lis[0] * lis[1])

mul()
mul()

1 2
2
3 4
12

In [48]:
def mul():
  string = input()
  a = int(string[0])
  b = int(string[2])
  print(a * b)

mul()
mul()

1 2
2
3 4
12

In [46]:
string = input()
li = string.split(' ')
lis = []
for i in li:
  i = int(i)
  lis.append(i)

print(lis[0] * lis[1])

string1 = input()
li = string1.split(' ')
lis = []
for i in li:
  i = int(i)
  lis.append(i)

print(lis[0] * lis[1])

1 2
2
3 4
12

In [0]:
a,b = input().split()
a = int(a)
b = int(b)
print(a/b)

In [50]:
a, b = input().split()
a = int(a)
b = int(b)
print(a + b)
print(a - b)
print(a * b)
print(a // b)
print(a % b)

7 3
10
4
21
2
1

In [55]:
"첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다."
"5 8 4"


a, b, c = input().split()
A = int(a)
B = int(b)
C = int(c)

print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

In [0]:
a = 472
b, c, d = 385.split()

a = int(a)
b = int(b)
c = int(c)
d = int(d)

w = a * d
x = a * c
y = a * b

z = w + x*10 + y**10

2360 = 472*5
3776 = 472*8
1416 = 472 * 3
181720 =

In [62]:
a = input()
b, c, d = input().replace('', ' ').split()

a = int(a)
b = int(b)
c = int(c)
d = int(d)

w = a * d
x = a * c
y = a * b

z = w + x*10 + y*10*10

print(w)
print(x)
print(y)
print(z)

472
385
3
2360
3776
1416
181720

In [65]:
"""
A가 B보다 큰 경우에는 '>'를 출력한다.
A가 B보다 작은 경우에는 '<'를 출력한다.
A와 B가 같은 경우에는 '=='를 출력한다.
"""

a,b = input().split()

if a > b:
  print('>')
if a < b:
  print('<')
if a == b:
  print('==')

2 2
==

In [68]:
a, b = map(int, input().split())
 
if a > b:
  print(">")
elif a == b:
  print("==")
else:
  print("<")

10 2
>

In [0]:
"시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오."

"첫째 줄에 시험 점수가 주어진다. 시험 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다."

In [69]:
a = input()
score = int(a)

if 90 <= score <= 100:
  print('A')
elif 80 <= score < 90:
  print('B')
elif 70 <= score < 80:
  print('C')
elif 60 <= score < 70:
  print('D')
else:
  print('F')

100
A

In [71]:
"""
연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

첫째 줄에 연도가 주어진다. 연도는 1보다 크거나 같고, 4000보다 작거나 같은 자연수이다.

첫째 줄에 윤년이면 1, 아니면 0을 출력한다.
"""

a = input()
year = int(a)

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
  print(1)
else:
  print(0)

2000
1

In [0]:
# 사분면

x = int(input())
y = int(input())

if x > 0 and y > 0:
  print(1)
elif x > 0 and y < 0:
  print(4)
elif x < 0 and y < 0:
  print(3)
elif x < 0 and y > 0:
  print(2)

In [83]:
# 10 10  9 25
# 0 30  23 45
# 23 40  22 55


#  (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 

H, M = map(int, input().split())

if M < 45:
  H = H - 1
  M = M + 15
  if H <= 0:
    H = (H + 24) % 24

print(H, M)

9 25
8 40

In [0]:
H, M = map(int, input().split())

if M > 44 :
    print(H, M - 45);
elif M < 45 and H > 0 :
    print(H-1, M + 15)
else :
    print(23, M + 15)

In [90]:
"""
첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.
출력형식과 같게 N*1부터 N*9까지 출력한다.
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
"""

li = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

num = int(input())
if num in li:
  for i in range(9):
    print(num, "*", i+1, "=", num*(i+1))

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [92]:
"""
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.
첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)


5
1 1
2 3
3 4
9 8
5 2


2
5
7
17
7
"""

l = int(input())
for i in range(l):
    a, b = input().split()
    print(int(a) + int(b))

5
1 1
2
2 3
5
3 1
4
9 8
17
5 2
7

In [99]:
"""
n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

첫째 줄에 n (1 ≤ n ≤ 10,000)이 주어진다.

1부터 n까지 합을 출력한다.

3  = 1 + 2 + 3 = 6
"""

num = int(input())
sum = 0
for i in range(num + 1):
  sum = sum + i
print(sum)

3
6

In [100]:
"""
Python을 사용하고 있다면, input 대신 sys.stdin.readline을 사용할 수 있다. 단, 이때는 맨 끝의 개행문자까지 같이 입력받기 때문에 문자열을 저장하고 싶을 경우 .rstrip()을 추가로 해 주는 것이 좋다.

또한 입력과 출력 스트림은 별개이므로, 테스트케이스를 전부 입력받아서 저장한 뒤 전부 출력할 필요는 없다. 테스트케이스를 하나 받은 뒤 하나 출력해도 된다.

첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.

각 테스트케이스마다 A+B를 한 줄에 하나씩 순서대로 출력한다.

5
1 1
12 34
5 500
40 60
1000 1000

2
46
505
100
2000
"""

T = int(input())

for i in range(T):
  a, b = map(int, input().split())
  print(a + b)


# 시간 초과
import sys
 
inp = int(input())
for i in range(inp):
        a,b = map(int, sys.stdin.readline().split())
        print(a+b)

5
1 1
2
12 34
46
5 500
505
40 60
100
1000 1000
2000

In [102]:
# 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

num = int(input())
for i in range(num):
  print(i + 1)

5
1
2
3
4
5

In [104]:
# 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

num = int(input())
for i in range(num):
  print(num - i)

5
5
4
3
2
1

In [109]:
"""
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

첫째 줄에 테스트 케이스의 개수 T가 주어진다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

각 테스트 케이스마다 "Case #x: "를 출력한 다음, A+B를 출력한다. 테스트 케이스 번호는 1부터 시작한다.

5
1 1
2 3
3 4
9 8
5 2

Case #1: 2
Case #2: 5
Case #3: 7
Case #4: 17
Case #5: 7
"""
num = int(input())

for i in range(num):
  a, b = map(int, input().split())
  print("Case #%s: %s"%(i + 1, a + b))

cases = int(input())

for i in range(cases):
    a,b = map(int, input().split())
    ans = a + b
    print("Case #%s: %s"%(i+1, ans ))

5
1 1
Case #1:  2
2 3
Case #2:  5
3 4
Case #3:  7
9 8
Case #4:  17
5 2
Case #5:  7

In [110]:
# "Case #x: A + B = C"

num = int(input())

for i in range(num):
  a, b = map(int, input().split())
  print("Case #%s: %s + %s = %s"%(i + 1, a, b, a + b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [118]:
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

# num = int(input())

# for i in range(num):
#   for j in range(num):
#     print('*' * (j + 1))

num = int(input())

for i in range(num):
  print("*" * (i+1))

5
*
**
***
****
*****

In [124]:
'''
첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.
    *
   **
  ***
 ****
*****
'''

num = int(input())

for i in range(num):
  print(' ' * ((num - 1) - i) + '*' * (i + 1))

5
    *
   **
  ***
 ****
*****

In [128]:
'''
정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

첫째 줄에 N과 X가 주어진다. (1 ≤ N, X ≤ 10,000)

둘째 줄에 수열 A를 이루는 정수 N개가 주어진다. 주어지는 정수는 모두 1보다 크거나 같고, 10,000보다 작거나 같은 정수이다.

X보다 작은 수를 입력받은 순서대로 공백으로 구분해 출력한다. X보다 작은 수는 적어도 하나 존재한다.

10 5
1 10 4 9 2 3 8 5 7 6


1 4 2 3
'''

a, b = map(int, input().split())
li = []
for i in range(a):
  c = int(input())
  li.append(c)
for i in li:
  if i < b:
    print(i)
  
a1, a2 = map(int, input().split())
b = list(map(int, input().split()))

for i in b:
    if i < a2:
        print(i, end=" ")

10 5
1
10
4
9
2
3
8
5
7
6
1
4
2
3

In [134]:
'''
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

입력의 마지막에는 0 두 개가 들어온다.

1 1
2 3
3 4
9 8
5 2
0 0

2
5
7
17
7
'''


i = 0
while i < 6:
  a, b = map(int, input().split())
  if a == 0 or b == 0:
    break
  i = i + 1
  print(a + b)


while(True):
    a, b = list(map(int, input().split()))
    if(a == 0 and b == 0):
        break
    else:
        print(a + b)

1 1
2
2 3
5
9 8
17
5 2
7
0 0

In [136]:
'''
두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력은 여러 개의 테스트 케이스로 이루어져 있다.

각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)


1 1
2 3
3 4
9 8
5 2


2
5
7
17
7
'''

i = 0
while i < 5:
  i = i + 1
  a, b = list(map(int, input().split()))
  print(a + b)

while True:
  try:
      a, b = map(int, input().split())
      print(a+b)
  except:
      break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [156]:
'''
0보다 크거나 같고, 99보다 작거나 같은 정수가 주어질 때 다음과 같은 연산을 할 수 있다.
먼저 주어진 수가 10보다 작다면 앞에 0을 붙여 두 자리 수로 만들고, 각 자리의 숫자를 더한다.
그 다음, 주어진 수의 가장 오른쪽 자리 수와 앞에서 구한 합의 가장 오른쪽 자리 수를 이어 붙이면 새로운 수를 만들 수 있다. 다음 예를 보자.

26부터 시작한다. 2+6 = 8이다. 새로운 수는 68이다. 6+8 = 14이다. 새로운 수는 84이다. 8+4 = 12이다. 새로운 수는 42이다. 4+2 = 6이다. 새로운 수는 26이다.

위의 예는 4번만에 원래 수로 돌아올 수 있다. 따라서 26의 사이클의 길이는 4이다.

N이 주어졌을 때, N의 사이클의 길이를 구하는 프로그램을 작성하시오.

첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.

첫째 줄에 N의 사이클 길이를 출력한다.

26     4

55     3

1      60

'''


num = int(input())
check = num
new_num = 0
temp = 0
count = 0
while True:
    temp = num // 10 + num % 10
    new_num = (num % 10) * 10 + temp % 10
    count += 1
    num = new_num
    if new_num == check:
        break
print(count)

26
26
<class 'str'>
c 8
b 6
c 8
d 68
a <class 'int'>

In [166]:
'''
상현이가 가르치는 아이폰 앱 개발 수업의 수강생은 원섭, 세희, 상근, 숭, 강수이다.

어제 이 수업의 기말고사가 있었고, 상현이는 지금 학생들의 기말고사 시험지를 채점하고 있다.
 기말고사 점수가 40점 이상인 학생들은 그 점수 그대로 자신의 성적이 된다. 
 하지만, 40점 미만인 학생들은 보충학습을 듣는 조건을 수락하면 40점을 받게 된다. 
 보충학습은 거부할 수 없기 때문에, 40점 미만인 학생들은 항상 40점을 받게 된다.

학생 5명의 점수가 주어졌을 때, 평균 점수를 구하는 프로그램을 작성하시오.


입력은 총 5줄로 이루어져 있고, 원섭이의 점수, 세희의 점수, 상근이의 점수, 숭이의 점수, 강수의 점수가 순서대로 주어진다.

점수는 모두 0점 이상, 100점 이하인 5의 배수이다. 따라서, 평균 점수는 항상 정수이다. 

첫째 줄에 학생 5명의 평균 점수를 출력한다.


10
65
100
30
95

68
'''

a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())
li = [a, b, c, d, e]

for i in li:
  if i < 40:
    i = 40
    mean = (a + b + c + d + e) / 5
    print(mean)

score_list = []
for i in range(5):
    score = int(input())
    if score >= 40:
        score_list.append(score)
    else:
        score_list.append(40)
print(round(sum(score_list)/5))

10
65
100
30
95
60.0
60.0

In [170]:
'''
상근날드에서 가장 잘 팔리는 메뉴는 세트 메뉴이다. 주문할 때, 자신이 원하는 햄버거와 음료를 하나씩 골라, 세트로 구매하면, 가격의 합계에서 50원을 뺀 가격이 세트 메뉴의 가격이 된다.

햄버거는 총 3종류 상덕버거, 중덕버거, 하덕버거가 있고, 음료는 콜라와 사이다 두 종류가 있다.

햄버거와 음료의 가격이 주어졌을 때, 가장 싼 세트 메뉴의 가격을 출력하는 프로그램을 작성하시오.

입력은 총 다섯 줄이다. 첫째 줄에는 상덕버거, 둘째 줄에는 중덕버거, 셋째 줄에는 하덕버거의 가격이 주어진다. 넷째 줄에는 콜라의 가격, 다섯째 줄에는 사이다의 가격이 주어진다. 모든 가격은 100원 이상, 2000원 이하이다.

첫째 줄에 가장 싼 세트 메뉴의 가격을 출력한다.


800
700
900
198
330

848



1999
1999
100
189
100

150

'''

# 세트가격 = 햄버거 + 음료 - 50

# input 5개 

# input1 = 상덕버거
# input2 = 중덕버거
# input3 = 하덕버거

# input4 = 콜라
# input5 = 사이다

# 모든 가격은 100원 이상, 2000원 이하이다.

ham_list = []
for i in range(3):
  ham = int(input())
  if ham < 100:
    ham_list.append(100)
  elif ham > 2000:
    ham_list.append(2000)
  else:
    ham_list.append(ham)

bev_list= []
for i in range(2):
  bev = int(input())
  if bev < 100:
    bev_list.append(100)
  elif bev > 2000:
    bev_list.append(2000)
  else:
    bev_list.append(bev)

a = min(ham_list)
b = min(bev_list)
print(a + b - 50)

700
800
900
198
200
848

In [7]:
'''
세 정수 A, B, C가 주어진다. 이때, 두 번째로 큰 정수를 출력하는 프로그램을 작성하시오. 

첫째 줄에 세 정수 A, B, C가 공백으로 구분되어 주어진다. (1 ≤ A, B, C ≤ 100)

두 번째로 큰 정수를 출력한다.



20 30 10


20
'''

a, b, c = map(int, input().split())
li = [a, b, c]
li.sort(reverse=True)
print(li[1])

20 30 10
20

In [18]:
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.
# 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
# 첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

'''
3

*
**
***
**
*
'''

num = int(input())
for i in range(2 * num - 1):
  if i < 3:
    print('*' * (i + 1))
  elif i >= 3:
    print('*' * ((2 * num - 1) - i))


n = int(input())
for i in range(1, n + 1):
    print("*" * i)
for i in range(n - 1, 0, -1):
    print("*" * i)

3
*
**
***
**
*

In [196]:
# 예제를 보고 규칙을 유추한 뒤에 별을 찍어 보세요.
# 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
# 첫째 줄부터 2×N-1번째 줄까지 차례대로 별을 출력한다.

# 5

# ********* 2n - 1
#  1*******9 2(n-1) - 1 = 2n - 3
#   12*****89 2(n-2) - 1 = 2n - 5
#    123***789 2(n-3)-1
#     1234*6789 2(n-4) -1
#    1***5
#   1*****7
#  1*******9
# *********


# 9 7 5 3
# 10 9 8 7
# 1 2 3 4

n = int(input())
for i in range(n-1):
  print(' ' * i + (2 * n - (2 * i + 1)) * '*')
for i in range(n):
  print(' ' * (n - i - 1) + '*' * (2 * i + 1))

5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [0]:
# 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.

# 첫째 줄부터 차례대로 별을 출력한다.

# 1
# *

# 2
# *
#  *
# *
#  *

# 3
# * *
#  *
# * *
#  *
# * *
#  *

# 4
# * *
#  * *
# * *
#  * *
# * *
#  * *
# * *
#  * *

In [205]:
num = int(input())
for i in range(num):
  for j in range(num):
    print('*' * j)

4

*
**
***

*
**
***

*
**
***

*
**
***